.btn {
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-style: none;
  border-radius: 10%;
  padding: 5px;

  &:hover,
  &:focus {
    background-color: #34449b;
    cursor: pointer;
  }
}
